body {
  background: #e4e4e4;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registro-container {
  background: #ffffff;
  padding: 30px 20px;
  border-radius: 25px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo-encabezado {
  width: 80px;
  margin-bottom: 20px;
}

.titulo-admin {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.admin-opciones {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.admin-boton {
  background: #438a7e;
  color: white;
  padding: 60px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0px 8px 16px rgba(67, 138, 126, 0.3);
}

.admin-boton:hover {
  background: #356f63;
  transform: scale(1.03);
  box-shadow: 0px 10px 18px rgba(67, 138, 126, 0.5);
}

@media (max-width: 480px) {
  .registro-container {
    padding: 20px 15px;
  }
}
